@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto:wght@400;500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  background-color: #e7ecef;
}

.App{
  height:100vh;
  display:grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

.main-content{
  margin-left:180px;
  width:calc(100% - 180px);
  height:100%;
  background-color:#e7ecef;
}



/* ---NAVBAR--- */
#navbar-container{
  font-family:'Roboto';
  grid-area: nav;
  width:100%;
  height:100%;
  z-index:100;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  -webkit-box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.6);
  box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.6);
}

#navbar-title {
  font-family:'Montserrat';
  font-size:30px;
  color:black;
  padding:20px 10px;
}

.navbar-name{
  font-size:30px;
  border: 0;
  outline: 0;
  padding-left: 10px;
}

.navbar-search{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding:0px 10px;
  margin-top:30px;
}

.search-icon{
  margin-right:5px;
  color:silver;
}


.navbar-search .navbar-input{

  height:20px;
  width:100%;
  position:relative;
}

.navbar-search .navbar-input input{
  font-family:inherit;
  font-size:15px;
  font-weight: Lighter;
  height:100%;
  width:100%;
  background-color: transparent;
  border: 0;

}

.navbar-input input:focus {
  outline:none;
}

.navbar-input input:focus ~ label{
  transform: translateY(-25px);
  color: #4791db;
}

.navbar-input input:focus ~ .underline-input{
  height:1px;
  background:#4791db;
}

.navbar-search .navbar-input label{
  left:0;
  bottom:0px;
  color:silver;
  pointer-events:none;
  position:absolute;
  transition: all 0.3s ease;
}

.navbar-input .underline-input{
  position:absolute;
  bottom:-2px;
  width:100%;
  height:0px;
  background:silver;
  transition: all 0.3s ease;
}
/* ---END NAVBAR--- */

/* ---SIDEBAR--- */
.sidebar-container{
  grid-area: sidebar;
  height:100%;
  width:100%;
  min-width: 180px;
  background-color: #0466c8;
  display:flex;
  justify-content: center;
  align-items: center;
  border:solid 1px silver;
}

.sidebar-content{
  width:95%;
  height:95%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-title{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:10px;
  width: 95%;
  height:15%;
  border-radius:10px;
  background-color:#023d7d65;
  font-family: Montserrat;
}
.sidebar-title h2{
  border-bottom:solid 1px white;
}

.sidebar-title h3{
  font-weight:lighter;
}

.sidebar-categories-container{
  width:95%;
  height:85%;
  border-radius:10px;
  background-color:#023d7d65;
}

/* ---END SIDEBAR--- */

/* ---TASKS--- */
.task-content{
  grid-area: main;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}
.add-task{
  width:40%;
  min-width: 100px;
  height:100px;
  color:#0466c8;
  border-radius:10%;
  margin:30px 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.fa-shadow{
  filter: drop-shadow(2px 0px 3px rgba(0,0,0,0.75));
}

.task{
  font-family:Montserrat;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin:30px 30px;
  min-height:300px;
  min-width:450px;
  background-color: white;
  border-top:solid 4px #0466c8;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.62);
  box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.62);
}

.urgency-and-dot{
  font-size:0.5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  width:100%;
  min-height:75px;
}

.urgencies{
  display:flex;
  position:relative;
}


.urgencies h1{
  margin-left:5px;
  font-size:20px;
  font-family: Montserrat;
  font-weight:bold;
}

.urgencies h1:hover{
  cursor:pointer;
}

.urgencies-list{
  z-index:99;
  position:absolute;
  display:flex;
  left:100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type:none;
  font-size:13px;
  font-weight: bolder;
  min-height:120px;
  min-width:120px;
  background-color: white;
  border-top:solid 2px #0466c8;
  border-radius:5px;
  box-shadow: rgba(136, 165, 191, 0.60) 0px 5px 15px;
}

.urgency{
  display:flex;
  justify-content: center;
  align-items: center;
  border-style:solid;
  border-width:1px;
  border-radius: 40px;
  height:30px;
  width:110px;
}

.urgency:hover{
  cursor:pointer;
  transition:ease 0.1s;
  transform:scale(1.1,1.1);
}


.categories{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  min-height:50px;
}

.categories h4{
  padding: 0px 10px;
}

.choose-categories{
  display:flex;
  position:relative;
}

.choose-categories:hover{
  cursor:pointer;
}

.categories-container{
  position:absolute;
  left:100%;
  min-width:140px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left:10px;
  box-shadow: rgba(136, 165, 191, 0.60) 0px 5px 15px;
}

.category{
  width:100%;
  font-size:15px;
  font-weight: bold;
  border-left:solid 2px #0466c8;
  background-color: white;
  padding:5px 5px;
}

.category:hover{
  background-color: #0466c8;
  color:white;
  cursor:pointer;
}

.category-icon{
  margin:0px 5px;
}

.title-and-commentary{
  width:100%;
  height:100%;
  min-height:100px;
  padding:0px 30px;
}

.task-title{
  text-align: start;
  font-size:24px;
  font-family:Roboto;
  font-weight: bold;
  height:100px;
  width:100%;
  outline: none;
  resize:none;
  border:0;
}

.date-time-picker{
  font-size:20px;
  padding:0 30px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  min-height:75px;
}

.fa-calendar-alt:hover{
  cursor:pointer;
}

.date-time-picker h4{
  font-size:15px;
  padding-left:10px;
}
.react-datepicker {
  font-family:Montserrat !important;
  font-weight:Bolder;
}
